#App {
  width: 100%;
  height: 100vh;
  overflow: auto;
}

#App::-webkit-scrollbar {
  width: 15px;  /* 스크롤바의 너비 */
}

#App::-webkit-scrollbar-thumb {
  height: auto; /* 스크롤바의 길이 */
  background: #3b976d; /* 스크롤바의 색상 */
  
  border-radius: 3px;
}

#App::-webkit-scrollbar-track {
  background: rgba(59, 151, 109, 0.1);  /*스크롤바 뒷 배경 색상*/
}

/* 아래의 모든 코드는 영역::코드로 사용 */

#App *::-webkit-scrollbar {
    width: 15px;  /* 스크롤바의 너비 */
}

#App *::-webkit-scrollbar-thumb {
    height: auto; /* 스크롤바의 길이 */
    background: #3b976d; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

#App *::-webkit-scrollbar-track {
    background: rgba(59, 151, 109, 0.1);  /*스크롤바 뒷 배경 색상*/
}

a {
  color: inherit;
}

button {
  min-width: 30px;
  min-height: 25px;
  padding: 6px 11px;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
}