@font-face {
  font-family: 'NanumGothic';
  src: url('./fonts/NanumGothic.ttf') format('truetype'), url('./fonts/NanumGothic.eot') format('embedded-opentype');
}

body {
  margin: 0;
  font-family: 'NanumGothic';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
