@media screen and (max-width: 480px) {
    #map {
        width: 100%;
        min-height: 70vh;
    }
}

@media screen and (min-width: 480px) and (max-width: 900px) {
    #map {
        width: 480px;
        min-height: 70vh;
    }
}

@media screen and (min-width: 900px){
    #map {
        width: 800px;
        min-height: 70vh;
    }
}