@media screen and (max-width: 480px) {
    #map {
        width: 100%;
        min-height: 70vh;
    }
}

@media screen and (min-width: 480px) and (max-width: 900px) {
    #map {
        width: 480px;
        min-height: 70vh;
    }
}

@media screen and (min-width: 900px){
    #map {
        width: 900px;
        min-height: 70vh;
    }
}

.infowin {
    width: 100%;
    background-color: #14130f;
    color: #ffffe3;
}

.infowin h1 {
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.infowindesc {
    margin: 0;
    font-size: 8px;
}