.chatwin {
    vertical-align: bottom;
    height: inherit;
}

.chatwrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    min-height: 0px;
    height: 66vh;
}

.chatscreen {
    width: 100%;
    overflow-y: auto;
}

