.chatwrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    min-height: 0px;
    height: 570px;
}

.chatscreen {
    width: 100%;
    overflow-y: auto;
}

.chatscreen * {
    font-weight: 700;
}

.botmessage {
    background-color: #fbceb1;
    border-radius: 0 20px 20px 0;
    margin: 0 5px 10px 0;
    padding: 7px 3px;
    max-width: 100%;
    text-align: left;
}

.usermessage {
    background-color: #ece6cc;
    border-radius: 20px 0 0 20px;
    margin: 0 0 10px 5px;
    padding: 7px 3px;
    max-width: 100%;
    text-align: right;
}

.choice-container button{
    display: block;
    margin: 2px 0;
}

.submitbtn-container {
    border-top: 1px solid gray;
    margin-top: 5px;
    padding-top: 10px;
}