.chatwrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    min-height: 0px;
    height: 575px;
}

.chatscreen {
    width: 100%;
    overflow-y: auto;
}

.botmessage {
    background-color: #ffadd2;
    border-radius: 0 20px 20px 0;
    margin: 0 5px 10px 0;
    padding: 7px 3px;
    max-width: 100%;
    text-align: left;
}

.usermessage {
    background-color: #ff75e0;
    border-radius: 20px 0 0 20px;
    margin: 0 0 10px 5px;
    padding: 7px 3px;
    max-width: 100%;
    text-align: right;
}