.chatwrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    min-height: 0px;
    height: 570px;
}

.chatwin {
    background-color: #c8eadb;
    font-size: 14px;
}

.chatwin button {
    background-color: #d9d9d9;
    font-size: 14px;
}

.chatscreen {
    width: 100%;
    overflow-y: auto;
}

.chatscreen * {
    font-weight: 700;
}

.botmessage {
    background-color: #f4f4f4;
    border-radius: 12px;
    margin: 10px 0 0 5px;
    padding: 7px 8px 7px 4px;
    width: fit-content;
    max-width: 75%;
    text-align: left;
}

.usermessage {
    background-color: #0095df;
    color: white;
    border-radius: 12px;
    margin: 10px 5px 0 0;
    padding: 7px 4px 7px 8px;
    width: fit-content;
    max-width: 75%;
    text-align: left;
}

.rightalign {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.choice-container button{
    display: block;
    margin: 2px 0;
    border: none;
}

.submitbtn-container {
    border-top: 1px solid gray;
    margin-top: 5px;
    padding-top: 10px;
}