#header {
    min-height: 120px;
    overflow: auto;
}

#header nav {
    margin: 20px 0;
}

#header nav > ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    background-color: #ffadd2;
    align-items: center;
    height: 75px;
    font-size: 25px;
}

#header .logo {
    width: 75px;
}