#header {
    min-height: 25vh;
    overflow: auto;
}

#header nav {
    margin: 20px 0;
}

#header nav > ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    background-color: #20c020;
    align-items: center;
    height: 100px;
}

#header .logo {
    width: 48px;
    height: 48ox;
}