#header {
    min-height: 145px;
    overflow: auto;
}

#header a {
    text-decoration: none;
}

#header-logo {
    margin: 10px 0;
    height: 75px;
    text-align: center;
}

#header-logo .logo {
    height: 75px;
}

#header nav {
    padding-left: 45%;
    padding-right: 15px;
    background-color: #3b976d;
}

#header nav > ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    color: white;
    align-items: center;
    height: 40px;
    font-size: 15px;
}