article.info {
    height: 600px;
    width: 400px;
    margin: 0 30px 0 0;
    overflow-y: auto;
    border: 2px solid lightgray;
    box-shadow: 0 0 10px lightgray;
}

#info0 {
    height: inherit;
}

.info-popup-window {
    height: inherit;
}