#map {
    border-width: 5px;
    border-style: solid;
    border-color: #ffadd2;
}

@media screen and (max-width: 480px) {
    #map {
        width: 100%;
        min-height: 70vh;
    }
}

@media screen and (min-width: 480px) and (max-width: 1200px) {
    #map {
        width: 480px;
        min-height: 70vh;
    }
}

@media screen and (min-width: 1200px){
    #map {
        width: 750px;
        height: 600px;
    }
}

.infowin {
    min-width: 150px;
    background-color: #ac1a8f;
    color: white;
}

.infowin h1 {
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.infowindesc {
    margin: 0;
    font-size: 8px;
}

.icon-container > img {
    width: 16px;
}

.gumarker {
    background-color: white;
    border-radius: 30px;
    font-size: 12px;
    text-align: center;
    width: 60px;
    height: 60px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    border-width: 3px;
    border-style: solid;
    border-color: #20c020;
}