#map {
    border: 2px solid lightgray;
    box-shadow: 0 0 10px lightgray;
}

@media screen and (max-width: 480px) {
    #map {
        width: 100%;
        min-height: 70vh;
    }
}

@media screen and (min-width: 480px) and (max-width: 1200px) {
    #map {
        width: 480px;
        min-height: 70vh;
    }
}

@media screen and (min-width: 1200px){
    #map {
        width: 750px;
        height: 600px;
    }
}

.infowin {
    width: 340px;
    height: 180px;
    background-color: white;
    box-shadow: 3px 3px 5px gray;
}

.infowin > header {
    background-color: #3b976d;
    display: grid;
    grid-template-columns: 32px auto 32px;
    width: inherit;
    height: 36px;
    flex-direction: row;
    align-items: center;
}

.infowin > header > img {
    width: 24px;
    margin: 0 4px;
}

.infowin > header h1 {
    color: white;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.infowin > header .close {
    padding: 0;
    margin: 0;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 24px;
    font-weight: 800;
}

.infowindesc {
    width: inherit;
    height: 144px;
    margin: 0;
    font-size: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 3fr 2fr;
    gap: 8px;
    grid-gap: 8px;
    overflow: hidden;
    overflow-wrap: break-word;
}

.infowindesc > * {
    max-width: inherit;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 12px;
}

.infowindesc > *:nth-child(2) {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 2;
}

.infowindesc > *:nth-child(4) {
    grid-row: 3;
    grid-column: 1;
}

.infowindesc > *:nth-child(5) {
    grid-row: 3;
    grid-column: 2;
    text-align: center;
}

.icon-container {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.icon-container > img {
    width: 24px;
    margin: 0 7px;
}

.gumarker {
    background-color: white;
    border-radius: 40px;
    font-size: 12px;
    text-align: center;
    width: 70px;
    height: 70px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border: 6px solid #3b976d;
}

.gumarker *:nth-child(1) {
    font-size: 15px;
    font-weight: 700;
}

.gumarker *:nth-child(2) {
    color: #00a0e9;
}

.gumarker *:nth-child(3) {
    color: #ff3333;
}